{% include 'base.html' %}
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

    </script>
</head>
<body>
{% block content %}


{% endblock %}
<main class="container">
    {% for post in posts|slice:":1" %}
    <div class="p-4 p-md-5 mb-4 rounded border text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0,
    0.5), rgba(256, 256, 256, 0.5)), url({{ post.image.url }}); background-repeat: no-repeat; background-size: 100% 100%;
     height: 400px;">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ post.title }}</h1>
            <div>
                <p class="my-3">{{ post.contents|truncatewords:50 }}</p>
            </div>
            <p class="lead mb-0"><a href="{% url 'post-detail' post.id %}" class="text-white fw-bold">Continue
                reading...</a></p>
        </div>
    </div>
    {% endfor %}

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="row justify-content-around card_shadow p-4 mb-2"
                 onclick="location.href='{% url 'post-detail' post.id %}';">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img style="padding: 0px; width: 40px; height: 40px; line-height: 50px; border-radius: 50%;
                            border: 2px solid #39FF14;" src="{{ post.author.profile.image.url }}">
                        </div>
                        <div class="col-sm-4 mt-2 text-left">
                            <h5>{{ post.author.username }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{ post.title}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p>{{post.contents|truncatewords:10}}</p>
                    </div>
                    <div class="row">
                        {{ post.date_published|date:"F d, Y" }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {% if post.image.url %}
                    <img width="200px" src="{{post.image.url}}">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary">First Page</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-secondary" href="?page={{ num }}">{{num}}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-secondary" href="?page={{ num }}">{{num}}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary">Next Page</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary">Last</a>
            {% endif %}
            {%endif%}
        </div>
        <div class="col-md-4 border rounded">
            <h1>about</h1>
            <p class="lead">
                Technology has many effects. It has helped develop more advanced economies (including today's global
                economy) and has allowed the rise of a leisure class. Many technological processes produce unwanted
                by-products known as pollution and deplete natural resources to the detriment of Earth's environment.
                Innovations have always influenced the values of a society and raised new questions in the ethics of
                technology. Examples include the rise of the notion of efficiency in terms of human productivity, and
                the challenges of bioethics.
            </p>
        </div>
    </div>

</main>
</body>
</html>