{% include 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% endblock %}
<div class="container border-top">
    <div class="p-4 p-md-5 mb-4 rounded row justify-content-center">
        <div class="col-md-4 p-3 mr-3 border border rounded">
            <div class="container">
                <div class="p-2 rounded row justify-content-center">
                    <img src="{{ user.profile.image.url }}" width="80%">
                </div>
                <div class="p-2 rounded row justify-content-center">
                    <h6>Full name: </h6><p class="lead"> {{ user.profile.fullname }} </p>
                </div>
                <div class="p-2 row justify-content-center">
                    <h6>Username: </h6><p class="lead"> {{ user.username }} </p>
                </div>
                <div class="p-2 row justify-content-center">
                    <h6>Email: </h6><p class="lead"> {{ user.email }} </p>
                </div>
                <div class="p-2 row justify-content-center">
                    <h6>Address: </h6><p class="lead"> {{ user.profile.address }} </p>
                </div>
                <div class="p-2 row justify-content-center">
                    <h6>Status: </h6><p class="lead"> {{ user.profile.status }} </p>
                </div>
                <div class="p-2 row justify-content-around">
                    <div class="col-md-12 p-3">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'edit_profile' %}">
                            <img width="30px" src="{% static 'images/edit.png' %}">Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-3 border border rounded ">

        </div>
    </div>
</div>
